<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>D3Times</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet"  type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
  <link rel="stylesheet"  type="text/css" href="{{ url_for('static',filename='css/d3Style.css') }}">

</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <h1>D3Times - Data Journalism & D3</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12  col-md-9">
        <div id="scatter">
          <!-- We append our chart here. -->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12  col-md-9">
        <div class="article">
          <h2>Correlations Discovered Between Poverty & Lack of Healthcare </h2>
          <br>
          <p>Analysis:  There is a correlation between % Poverty and Lack of healthcare. Two-thirds of the states
            in United States show that people who are in poverty also lack proper means to care for their health. 
            Some of the States like MA and TX are outliers.  MA shows higher coverage of healthcare even though there 
            is high level of poverty in their state.  TX, on the other hand, has higher amount of people without healthcare
            coverage even though the poverty level is low.  As expected, most of the data does show the correlation.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer-->
  <div id="footer">
    
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script type="text/javascript" src="assets/app.js"></script>

</body>

</html>